<div id="formcontainer">
<form>

	<h5>azul payment</h5>

	<div class='separador'>
		<label for="azul">hash key azul </label>
		<input type="text" name="azul"/> <button title="guardar datos"><img src="/assets/img/save.png"/></button>
	</div>

</form>

<form>

	<h5>banco popular</h5>

	<div class='separador'>
		<label for="banco popular">hash key banco popular </label>
		<input type="text" name="bdpp"/> <button title="guardar datos"><img src="/assets/img/save.png"/></button>
	</div>
	
</form>

<form>

	<h5>conexion odoo</h5>

	<div class='separador'>
		<label for="database">base de datos </label>
		<input type="text" name="database"/>
	</div>
	<div class='separador'>
		<label for="puerto">puerto </label>
		<input type="text" name="puerto"/>
	</div>
	<div class='separador'>
		<label for="password">password </label>
		<input type="text" name="password"/>
	</div>
	<div class='separador'>
		<label for="usuario">usuario </label>
		<input type="text" name="usuario"/>
	</div>
	<div class='separador'>
		<label for="url">url </label>
		<input type="text" name="url"/>
	</div>
	<button title="guardar datos"><img src="/assets/img/save.png"/></button>	
</form>
</div>