
<!--     <form (ngSubmit)="updusuario(UsuarioModel)">
      
        <div class="Cell"><input type="text" name="name" [(ngModel)]=" editarUsuario.name"></div>
   
    
        <div class="Cell"><input type="text" name="userType" [(ngModel)]=" editarUsuario.userType"></div>
    
     
        <div class="Cell"><input type="email" name="email" [(ngModel)]=" editarUsuario.email"></div>
   
     
        <div class="Cell"><input type="tel" name="phone" [(ngModel)]=" editarUsuario.phone"></div>
     
    </form>
 -->